
.form-control {
  width: 300px;
}
.Login {
  display: flex;
  min-height: 400px;
  align-items: center;
  justify-content: center;
 
}

.formLogin {
  width: 350px;
  margin: auto;
  align-content: center;
  border: 1px solid rgb(95, 86, 86);
  padding: 20px;
  min-height: 100px;
  -webkit-box-shadow: 0px 1px 10px 2px rgba(0,0,0,0.61); 
  box-shadow: 0px 1px 10px 2px rgba(0,0,0,0.61);
}

.header{
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

/* css form formIssue */

.formIssue{
  display: flex;
  min-height: 100vh;
}

.btn-out{
  text-align: center;
}








/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* const StyleDiv = styled.div`
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  flex-flow: column;
`;

const StyleDivHeader = styled.div`
  padding: 20px;
`;

const StyleDivContent = styled.div`
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
`;

const StyleDivRight = styled.div`
  flex: 7;
  justify-content: space-around;
  -webkit-box-shadow: 1px 1px 6px 1px #000000;
  box-shadow: 1px 1px 6px 1px #000000;
`;
const StyleDivLeft = styled.div`
  flex: 3;
  justify-content: space-around;
  -webkit-box-shadow: 1px 1px 6px 1px #000000;
  box-shadow: 1px 1px 6px 1px #000000;
  margin-right: 4px;
`;

const StyleTable = styled.table`
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;

  th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #4caf50;
    color: white;
  }
  tr,
  th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  tr:hover {
    background-color: #ddd;
  }
`; */
